{% extends "layout.html" %}
{% block content %}
  <div class="border">
    {% for post in posts %}
    <div class="bottom white">
      <div class="">
      <a href="{{ url_for('post', post_id=post.id) }}"><img style="margin-top: 14px;" class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"></a>
        <hr>
        <h5 class="overview" style="font-size:16px">{{ post.title }}</h5>
        <p class="" style="font-size:16px font-weight:regular; "> <b> {{ post.content }}</b> </p>
        <br>
        <p style="padding-bottom: 10px;" class="text-muted by">By <span style="color:red;">{{post.author.username}}</span> <br> <span class="small">{{ post.date_posted.strftime('%Y-%m-%d') }}</span></p>

      </div>

    </div>

    {% endfor %}
  </div>

{% endblock content %}
